/* You can add global styles to this file, and also import other style files */
html,
body {
  min-height: vh;
}

.my-space-botton {
  margin-bottom: 5px;
}

@media (max-width: 576px) {
  .my-btn-explain {
    display: none;
  }
}
